body {
    background-color: #f0f4f8;
}

.navbar {
    background-color: #5f5e6e;
}

.navbar .nav-link {
    color: white !important;
}

.navbar .btn-outline-success {
    border-color: white;
}

.card {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
}

.btn-primary {
    background: linear-gradient(45deg, #ab91e6, #6f42c1);
    border: none;
}

.btn-primary:hover {
    background: linear-gradient(45deg, #6f42c1, #ab91e6);
}

footer {
    font-size: 0.9rem;
}